* {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    

}

body {
    background-color: rbg(20, 20, 20);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

main {
    background-color: rgb(100,100,100);;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    
    padding:2%;
}

footer {
    font-size:16px;
    background-color:blue;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    background-color:white;

    margin:2%;

}

.grid-item {
    background-color:grey;
    text-align:center;
    margin:2%;
    
    height:300px;

    border-radius:45%;
    border:5px solid;
    border-color:black;

    padding-top:50%;
    padding-bottom:50%;

}