* {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

    touch-action:manipulation;
    
}

body {
    background-color: rgb(25,25,25);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

main {
    background-color:rgb(50,70,90);
    max-width: 920px;


    margin-left: auto;
    margin-right: auto;
    align-items: center;


    padding:2%;
    border:5px solid;
    border-color:rgb(70,120,160);



    color:white;
}

.header {
    text-align: center;
    font-size: 24px;
    background-image: none;
    background-color:rgb(50,50,70);
}


button:active {
    -webkit-box-shadow: inset 0px 0px 20px white;
       -moz-box-shadow: inset 0px 0px 20px white;
            box-shadow: inset 0px 0px 20px white;
     outline: none;

     border-color: white;


}

.text-bar {
    text-align: center;
    color:white;
    background-color:rgb(20,20,20);
  
    min-height:150px;

    margin-bottom:5%;
    
    padding:5%;

    font-size:30px;
    

    border:5px solid;
    border-color:white;

    box-shadow: 0px 10px 20px  black ;

}

.grid-container {
    display:grid;
    grid-template-columns:repeat(3, 1fr);

    

}


.grid-item {
    color:white;

    font-size: 16px;

    min-height: 100px;
    height:75%;

    background-color:rgb(20,20,20);
    text-align:center;

    

    margin-left:5%;
    margin-right:5%;

    border-radius:5%;
    border:5px solid;
    border-color:white;


    box-shadow: 0px 10px 20px  black ;

}

.next-button-container {
    text-align: center;
  }

.next-button {
    width:300px;


    color:white;

    font-size: 24px;

    min-height: 100px;
    height:75%;

    background-color:rgb(20,20,20);
    text-align:center;

    margin-bottom:5%;

    

    border:5px solid;

    box-shadow: 0px 10px 20px  black ;

}

.points-container {

    color:white;

    font-size: 16px;

    height:50%;

    display:grid;
    grid-template-columns:repeat(2, 1fr);

    text-align:center;

    

    margin-left:5%;
    margin-right:5%;


}

.points-item {
    color:white;

    font-size: 64px;

    min-height: 100px;
    height:75%;

    background-color:rgb(20,20,20);
    text-align:center;

    
    margin-top:10%;
    margin-bottom:10%;

    margin-left:5%;
    margin-right:5%;

    border-radius:5%;
    border:5px solid;
    border-color:rgb(70,120,160);

    padding-top:5%;

    box-shadow: 0px 10px 20px  black ;
}


.team-one{
    border-color: rgb(255,0,132);
    background-color: rgb(120,0,50);
}

.team-two{
    border-color:rgb(0,180,140);
    background-color:rgb(0,100,80);

}

.grid-footer-container {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    background-color:rgb(50,50,70);
    border-radius:5%;
    margin-top:2%;

}

.grid-footer-item {
    color:white;


    background-color:rgb(20,20,20);
    text-align:center;

    

    border:2px solid;
    border-color:white;


}

.menu {
    font-size:16px;
    background-image: none;
    background-color:rgb(50,50,70);
    padding-right:10%;
}

.settingsInput {
    float:right;
    max-width:75px;
    text-align:right;
    text-justify: right;
    color:black;

}